In [1]:
## install mysql-server
## "/dev/null 2>&1" below simply suppresses the cell output

!apt-get update > /dev/null 2>&1
!apt-get install -y mysql-server > /dev/null 2>&1

In [2]:
# start the MySQL service
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [3]:
!echo -e "[client]\nuser=root\npassword=root" > ~/.my.cnf
!chmod 600 ~/.my.cnf

In [4]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'; FLUSH PRIVILEGES;"

In [5]:
!mysql < mysqlsampledatabase.sql

In [6]:
!mysql -e "USE classicmodels; SHOW TABLES;"

+-------------------------+
| Tables_in_classicmodels |
+-------------------------+
| customers               |
| employees               |
| offices                 |
| orderdetails            |
| orders                  |
| payments                |
| productlines            |
| products                |
+-------------------------+

In [7]:
!mysql -e "USE classicmodels; DESCRIBE customers;"

+------------------------+---------------+------+-----+---------+-------+
| Field                  | Type          | Null | Key | Default | Extra |
+------------------------+---------------+------+-----+---------+-------+
| customerNumber         | int           | NO   | PRI | NULL    |       |
| customerName           | varchar(50)   | NO   |     | NULL    |       |
| contactLastName        | varchar(50)   | NO   |     | NULL    |       |
| contactFirstName       | varchar(50)   | NO   |     | NULL    |       |
| phone                  | varchar(50)   | NO   |     | NULL    |       |
| addressLine1           | varchar(50)   | NO   |     | NULL    |       |
| addressLine2           | varchar(50)   | YES  |     | NULL    |       |
| city                   | varchar(50)   | NO   |     | NULL    |       |
| state                  | varchar(50)   | YES  |     | NULL    |       |
| postalCode             | varchar(15)   | YES  |     | NULL    |       |
| country                | varchar(50)   | NO   |     | NULL    |       |
| salesRepEmployeeNumber | int           | YES  | MUL | NULL    |       |
| creditLimit            | decimal(10,2) | YES  |     | NULL    |       |
+------------------------+---------------+------+-----+---------+-------+

In [8]:
!mysql -e "USE classicmodels; SHOW INDEXES FROM customers;"

+-----------+------------+------------------------+--------------+------------------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+
| Table     | Non_unique | Key_name               | Seq_in_index | Column_name            | Collation | Cardinality | Sub_part | Packed | Null | Index_type | Comment | Index_comment | Visible | Expression |
+-----------+------------+------------------------+--------------+------------------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+
| customers |          0 | PRIMARY                |            1 | customerNumber         | A         |         122 |     NULL |   NULL |      | BTREE      |         |               | YES     | NULL       |
| customers |          1 | salesRepEmployeeNumber |            1 | salesRepEmployeeNumber | A         |          16 |     NULL |   NULL | YES  | BTREE      |         |               | YES     | NULL       |
+-----------+------------+------------------------+--------------+------------------------+-----------+-------------+----------+--------+------+------------+---------+---------------+---------+------------+

In [9]:
!mysql -e "SELECT table_name, table_rows FROM information_schema.tables WHERE table_schema = 'classicmodels';"

+--------------+------------+
| TABLE_NAME   | TABLE_ROWS |
+--------------+------------+
| customers    |        122 |
| employees    |         23 |
| offices      |          7 |
| orderdetails |       2996 |
| orders       |        326 |
| payments     |        273 |
| productlines |          7 |
| products     |        110 |
+--------------+------------+

In [10]:
!mysql -e "SELECT table_name, COUNT(*) AS column_count FROM information_schema.columns WHERE table_schema = 'classicmodels' GROUP BY table_name;"

+--------------+--------------+
| TABLE_NAME   | column_count |
+--------------+--------------+
| customers    |           13 |
| employees    |            8 |
| offices      |            9 |
| orderdetails |            5 |
| orders       |            7 |
| payments     |            4 |
| productlines |            4 |
| products     |            9 |
+--------------+--------------+

In [11]:
!pip install mysql-connector-python
%load_ext sql

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 49.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [12]:
%sql mysql+mysqlconnector://root:root@localhost/classicmodels

In [13]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%config SqlMagic.autopandas = True

In [14]:
%%sql
SELECT
    table_name,
    COUNT(*) AS column_count
FROM
    information_schema.columns
WHERE
    table_schema = 'classicmodels'
GROUP BY
    table_name;

 * mysql+mysqlconnector://root:***@localhost/classicmodels
8 rows affected.

     TABLE_NAME  column_count
0     customers            13
1     employees             8
2       offices             9
3  orderdetails             5
4        orders             7
5      payments             4
6  productlines             4
7      products             9

In [16]:
# capture SQL result in a Python variable
result =  %sql SELECT TABLE_NAME, COLUMN_NAME, COLUMN_TYPE \
FROM information_schema.COLUMNS \
WHERE TABLE_SCHEMA = 'classicmodels' \
ORDER BY TABLE_NAME, ORDINAL_POSITION;

# inspect top rows with pandas
result.head()

 * mysql+mysqlconnector://root:***@localhost/classicmodels
59 rows affected.

  TABLE_NAME       COLUMN_NAME  COLUMN_TYPE
0  customers    customerNumber          int
1  customers      customerName  varchar(50)
2  customers   contactLastName  varchar(50)
3  customers  contactFirstName  varchar(50)
4  customers             phone  varchar(50)

In [17]:
%%sql
SELECT TABLE_NAME, COLUMN_NAME, COLUMN_TYPE
FROM information_schema.COLUMNS
WHERE TABLE_SCHEMA = 'classicmodels'
ORDER BY TABLE_NAME, ORDINAL_POSITION
LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost/classicmodels
5 rows affected.

  TABLE_NAME       COLUMN_NAME  COLUMN_TYPE
0  customers    customerNumber          int
1  customers      customerName  varchar(50)
2  customers   contactLastName  varchar(50)
3  customers  contactFirstName  varchar(50)
4  customers             phone  varchar(50)

In [ ]:
# show that a table created with the magic command
# will appear in the results of command-line queries

In [25]:
%%sql

CREATE TABLE IF NOT EXISTS simple_table (  -- will not attempt creation if table exists
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

INSERT IGNORE INTO simple_table (first_name, last_name) -- will ignore if the records exist
VALUES ("Alice", "Anderson"),
       ("Bob", "Browning");

 * mysql+mysqlconnector://root:***@localhost/classicmodels
0 rows affected.
2 rows affected.

Empty DataFrame
Columns: []
Index: []

In [26]:
%%sql

select * from simple_table;

 * mysql+mysqlconnector://root:***@localhost/classicmodels
2 rows affected.

  first_name last_name
0      Alice  Anderson
1        Bob     Brown

In [48]:
!mysql -e "USE classicmodels; SHOW TABLES;"

+-------------------------+
| Tables_in_classicmodels |
+-------------------------+
| customers               |
| employees               |
| offices                 |
| orderdetails            |
| orders                  |
| payments                |
| productlines            |
| products                |
| simple_table            |
+-------------------------+

In [ ]:
# list out the field names of a table in compact fashion, using Python

In [ ]:
import mysql.connector

In [57]:
host_ = "localhost"
user_ = "root"
password_ = "root"
database_ = "classicmodels"
table_ = "customers"

# put the below into a function



conn = mysql.connector.connect(host=host_,
                              user=user_,
                              password=password_,
                              database=database_)

# Establish the connection to the database
# conn = mysql.connector.connect(host="localhost", user="root", password="root", database="classicmodels")

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Execute the DESCRIBE query to get the table structure
str = "DESCRIBE " + table_ + ";"
cursor.execute(str)

# Fetch all results (column details)
columns = cursor.fetchall()

# Extract column names into a list
column_names = [column[0] for column in columns]

# Print the column names with a new line after every 5 items
for i in range(0, len(column_names), 5):
    # Join the next 5 column names with commas and print
    print(', '.join(column_names[i:i+5]))

# Close the cursor and connection
cursor.close()
conn.close()

customerNumber, customerName, contactLastName, contactFirstName, phone
addressLine1, addressLine2, city, state, postalCode
country, salesRepEmployeeNumber, creditLimit

In [ ]:
# need to explain the below

In [60]:
!mysql -e "USE classicmodels; SHOW TABLES;" | tail -n +2 | paste -sd, -

customers,employees,offices,orderdetails,orders,payments,productlines,products,simple_table

In [61]:
!mysql -e "USE classicmodels; SHOW TABLES;" | tail -n +2 | paste -sd, - | sed 's/,/, /g'

customers, employees, offices, orderdetails, orders, payments, productlines, products, simple_table

In [58]:
# get number of employees, customers, and payments per office